/*layoyt*/
.my-orders {
  color: #333;
  margin: 0 auto;
  background-color: #f3f5f7;
}
.my-orders section {
  position: relative;
  margin: 10px 10px 0;
  background-color: #fff;
}
.my-orders section:last-child {
  margin-bottom: 35px;
}
.my-orders section > h2 {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  background-color: #cedfef;
}
.d-panel {
  padding: 15px;
}
.d-panel p {
  line-height: 1.5;
}
.d-panel .m-name {
  font-size: 15px;
  margin-right: 20px;
  font-weight: bold;
}
/* .icon-location {
  width: 11px;
  height: 13px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  background: url(../images/order-icon-location.png) no-repeat 0 0;
}
.icon-time {
  width: 12px;
  height: 11px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  background: url(../images/order-icon-time.png) no-repeat 0 0;
} */
.icon-10,.icon-shizhong{
  font-size: 14px;
  color: #f66;
}
.amount-line .amount {
  font-size: 16px;
  color: #ff6666;
}
.time-line {
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px dotted #ccc;
}
.pay-btn {
  color: #fff;
  float: right;
  border-radius: 3px;
  background-color: #ff6666;
  height: 30px;
  line-height: 30px;
  margin-top: -4px;
  margin-right: 10px;
  padding: 0 12px
}
.my-orders section .mask {
  top: 0;
  right: 0;
  position: absolute;
  width: 87px;
  height: 83px;
  background: url(../images/my-orders-mark.png) no-repeat 0 0;
}
.empty-wrap {
  text-align: center;
}
.empty-inner {
  padding-top: 200px;
  display: inline-block;
  font-size: 16px;
  color: #999;
}
/*pay bar style*/
.pay-bar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #4a4a4a;
}
.pay-bar span {
  font-size: 15px;
  padding-left: 10px;
}
.pay-bar a {
  border-radius: 3px;
  background-color: #ff6666;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 0 12px;
}
/*helper*/
label .ls1 {
  width: 1em;
  display: inline-block;
}
.cRed {
  color: #ff6666;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.mb45 {
  margin-bottom: 45px;
}
