body {
  color: #666;
}

.seat-info {
  margin: 10px;
  padding: 15px 15px 10px;
  background-color: #fff;
}
.seat-info h4 {
  font-size: 14px;
  color: #333;
  margin-bottom: 6px;
}
.seat-info p {
  line-height: 24px;
}
.seat-info .addr b {
  width: 11px;
  height: 13px;
  margin-right: 6px;
  margin-top: 6px;
  display: block;
  background: url(../images/order-icon-location.png) no-repeat 0 0;
}
.seat-info .addr p {
  margin: 0 4px 0 16px;
}

.seat-info .addr span.langtype {
  margin-left: 16px;
}
.seat-info .time>b {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/order-icon-time.png) no-repeat 0 0;
}
.seat-info .pickedseats {
	margin-left: 16px;
}

.seat-info .pickedseats span {
	margin-right: 12px;
}

.phone-panel, .coupon-panel, .amount-panel, .pwd-panel {
  margin: 10px;
  padding: 10px 15px;
  background-color: #fff;
}

.phone-panel label, .pwd-panel label{
	line-height: 35px;
}

.phone-panel .input-wrap, .pwd-panel .input-wrap {
  border: 1px solid #ccc;
  height: 35px;
  position: relative;
}

.phone-panel .input-wrap {
	margin-left: 50px;
}

.pwd-panel .input-wrap {
    margin-left: 64px;
    margin-right: 20px;
}

.phone-panel .input-wrap input, .pwd-panel .input-wrap input {
  width: 100%;
  height: 33px;
  border: none;
  -webkit-appearance: none;
  text-indent: 1em;
}
.phone-panel .input-wrap .del, .pwd-panel .input-wrap .del {
  top: 0;
  right: 5px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.phone-panel .input-wrap .del:before, .pwd-panel .input-wrap .del:before {
  content: '';
  width: 16px;
  height: 3px;
  top: 15px;
  left: 8px;
  position: absolute;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background-color: #ccc;
}
.phone-panel .input-wrap .del:after, .pwd-panel .input-wrap .del:after {
  content: '';
  width: 16px;
  height: 3px;
  top: 15px;
  left: 8px;
  position: absolute;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  background-color: #ccc;
}

.coupon-panel .coupon-recomm {
  padding: 4px 1px;
  background: #cddded;
  margin-left: 10px;
  position: relative;
  color: #666;
  display: inline-block;
}
.coupon-panel .coupon-recomm:before, .coupon-panel .coupon-recomm:after {
  content: '';
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  background: url('../images/order-border.png') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}
.coupon-panel .coupon-recomm:before {
  left: -4px;
}
.coupon-panel .coupon-recomm:after {
  left: 100%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.coupon-panel .coupon-recomm span {
  color: #ff6666;
  padding: 2px 5px;
  border-radius: 2px;
  background-color: #e6eef6;
}
.coupon-panel .coupon-link {
  margin-top: 5px;
}
.coupon-panel .coupon-link .arrow-r {
  color: #ccc;
  border-style: solid;
  border-width: 3px 3px 0 0;
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  top: 1px;
  margin-left: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.amount-panel .coupon-amount {
  margin-top: 10px;
}

.cm-line {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #ccc;
}
.cm-line .jdbox {
  display: block;
  width: 18px;
  height: 17px;
  border: 1px solid #ccc;
  position: relative;
}
.cm-line .jdbox:before {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 12px;
  height: 7px;
  border-left: 3px solid #67b423;
  border-bottom: 3px solid #67b423;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cm-line .jdbox.jdouUsed:before {
  content: '';
}
.desc {
  margin: 10px 10px 60px;
  line-height: 1.5;
}
.desc dt {
  font-size: 13px;
}
.desc dd {
  font-size: 11px;
}

.buytips {
	color: #666;
	text-align: right;
	line-height: 24px;
	margin: 0 20px 60px 0;
}

.picked-btn {
  margin: 6px 0;
}

.picked-btn b {
  display: block;
  padding: 2px 8px;
  border: 1px solid #ff6066;
  color: #ff6066;
  border-radius: 3px;
}


/*pay bar style*/
.pay-bar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  position: fixed;
  bottom: 0;
  background-color: #4a4a4a;
}
.pay-bar label {
  font-size: 15px;
  padding-left: 10px;
}
.pay-bar a {
  border-radius: 3px;
  background-color: #ff6666;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  margin-right: 22px;
  padding: 0 12px;
}


.pay-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
}




/*icons*/
/* @font-face {
  font-family: 'iconfont';
  src: url('fonts/iconfont.eot'); IE9
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), IE6-IE8
  url('fonts/iconfont.woff') format('woff'), chrome、firefox
  url('fonts/iconfont.ttf') format('truetype'), chrome、firefox、opera、Safari, Android, iOS 4.2+
  url('fonts/iconfont.svg#iconfont') format('svg'); iOS 4.1-
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
} */
.icon-help {
  color: #ccc;
  margin-left: 5px;
  line-height: 35px;
}

/*helper*/
label .ls1 {
  width: 1em;
  display: inline-block;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.none, .popup-wrap.none {
  display: none;
}
.cGray {
  color: #ccc;
}
/*@media screen and (min-width:320px) {
  .seat-info .addr span.name {
    max-width: 190px;
  }
}
@media screen and (min-width:360px) {
  .seat-info .addr span.name {
    max-width: 230px;
  }
}
@media screen and (min-width:400px) {
  .seat-info .addr span.name {
    max-width: 270px;
  }
}
@media screen and (min-width:480px) {
  .seat-info .addr span.name {
    max-width: 450px;
  }
}*/
.popup-overlay.block, .popup-wrap.block {
  display: block;
}

/*popup*/
.popup-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: none;
}
.popup-wrap {
  position: fixed;
  width: 100%;
  height: 300px;
  display: none;
  z-index: 3;
  left: 0; right: 0;
  top: 50%;
  margin: auto;
  margin-top: -150px;
}

.popup-wrap.pwd-wrap {
  height: 160px;
  margin-top: -80px;
}

.popup-content {
  width: 85%;
  color: #000;
  background: rgba(255, 255, 255, 1);
  margin: 0 auto;
  border-radius: 6px;
  max-width: 640px;
  padding: 20px 10px;
}
.popup-content h2 {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}
.popup-content p {
  line-height: 1.3;
  margin-bottom: 3px;
}
.popup-content .btn {
  border-radius: 3px;
  background-color: #f3f5f7;
  padding: 10px;
  display: block;
  text-align: center;
  width: 130px;
  margin: 0 auto;
  font-size: 14px;
  margin-top: 15px;
}